/* CSS Variabes */
:root {
    --main-background: green;
    --main-headers: orange;
}

body {
    background:var(--main-background);
}

#p-date {
    padding: 10px;
    color: white;
}

#ball {
    background-color: cornflowerblue;
    width: 100px;
    line-height: 100px;
    height: 100px;
    border-radius: 50px;
}

.bounce {
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    position: relative;
}

/*Ball Animation */
@keyframes bounce {
    0% {
        background-color: deeppink;
        top: 0px;
    }
    50% {
        background-color: cornflowerblue;
        top: 200px;
    }
    100% {
        background-color: deeppink;
        top: 0px;
    }
}

/* Typography */
#ball h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
}

/* When the button is clicked, the background will be grey*/
button:disabled {
    background: grey;

}


