body {
    background: #dad7cd;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Headings */
#main-heading {
    color: #344e41;
    text-align: center;
}

#sub-heading {
    color: #a3b18a;
    text-align: center
}

/* Box layout */
.gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10%;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #344e41;
    border: 2px solid #a3b18a;
    padding: 20px;
    min-height: 260px;
}

#date-input {
    align-self: flex-start;
}

#sun-pic {
    padding-top: 20px;
}

/* Box Heading */
.box-title {
    color: #a3b18a;
    margin-top: 8px;
}

/* Building The Triangle */
/* w3schools.com for the making of the triangle*/
#triangle {
    width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 85px solid #a3b18a;
}

#triangle {
    display: none;
}

/* Date Color and Layout */
#date-output {
    color: #a3b18a;
    margin: 20px;
}

#sun-pic {
    border: none;
}

#sun-pic.frame {
    border-style: solid;
    border-width: 5px;
    border-color: red green blue purple;
}



@media (max-width: 768px) {
    .gallery-container {
      grid-template-columns: 1fr;         
      gap: 0px;
      padding: 5px;
      padding-right: 50px;
    }
  
    .gallery {
      width: 100%;                       
      min-height: 10px;
      padding: 20px;
    }
  
    .gallery img {
      max-width: 220px; 
      margin: 8px 0 0;
    }
  
    #main-heading {
      font-size: 32px;
    }

    #sub-heading {
      font-size: 20px;
    }

    #date-input {
        align-self: flex-start; /* Overrides align-items for this single child */
    }

    #triangle {
        display: none;
    }

    #date-output {
        display: none;
    }

    #sun-pic {
        border: none;
    }
  }