/* Structure */
body {
    background: url(images/fruitforbackground.jpeg);
}

#content {
    background:  rgba(217, 189, 173, 0.9);
    width: 75%;
    margin: auto;
    padding: 0 5px;
    border-radius: 5px;
}

/* Typography */
h1 {
    color: #400101
}

h2 {
    color: #D92929
}

p {
    color: #736B02
}

#content {
    font-family: Arial, Helvetica, sans-serif;
}

/* Images */
img {
    padding: 10px;
    border:5px solid #400101;
    border-radius: 5px;
}

/* Tables */
table {
    border-collapse: collapse;
}

th, td {
    border: 2px solid #F29F05;
    padding: 7px;
}

th {
    background: #D9BDAD;
    color: #400101;
}

td {
    background: #D9BDAD;
    color: #400101;
}