/* Main Structure */
body {
    font-family: Arial, Helvetica, sans-serif;
    background: #F3B700;
}

#main-content {
    width: 80%;
    margin: auto; /* Center */
    /* padding:5px 10px;  Go back and put comment */
}

#main-header {
    background-color: #FF6201;
    position: relative;

}

#content {
    background: green;

}

#main-footer {

}

/*Header */
#logo {
    margin: 10px;
}

#login-nav { /* sign up and login button */
    position: absolute;
    right: 5%;
    top: 5%;
}

#login-nav li:not(:last-child)::after {
    content:"|";
}

/* Images */
img {
    max-width: 100%; /* means it will not grow beyond its container */
}


.arrow {
    font: 1.5em;
    color: white;
    position: absolute;
    top: 32%;
}

#prev {
    left: 5%;
}

#next {
    right: 5%;
}

#slide-desc {
    position: absolute;
    bottom: 10%;
    left: 5%;
    color: white;
    background: rgba(255, 255, 255, 0.8);
    padding: 5px;
    max-width: 40%;
}
/* Square */
.area {
    position: relative;
}

#square { /*creates square within box */
    width: 100px;
    height: 100px;
    background: red;

    /* position absolute is in respect to the upper left hand corner 
    position: absolute; /* moves red box up 
    top: 50px; /* top overrides bottom 
    left: 80px;
    bottom: 0px;
    right: 50px;
    */

    /*position: relative;  saves the spot for it */
    position: absolute;
    top: 50px;
    left: 50px;
    
}


/* Gallery Section */
#gallery {
    background: lightblue;
    padding:  5px;
    border-radius: 5px;
    margin: 5px
}

#gallery section h3 {
    text-align: center;
}

/* Area */
.area {
    /*height: 400px;*/
    background: pink;
    /* margin: 10px; paces in between */
    /*width: 49%; */
}

/* Navigation */
nav ul {
    padding-left: 0; /* Remove indentation */

}

nav li { /* li is within the main nav*/
    list-style-type: none; /* Remove bullet */
    background: #E57C04;
    padding: 5px;
    border-bottom:  1px solid #F3B700;

}

nav a {
    text-decoration: none; /* Remove underline */
}

/* Typography */
#main-header h1 {
    text-align: center;
    padding-top: 10px;
}

/* img {
max-width: 100%
} */

/* larger devices */
@media (min-width: 768px) {
    #content {
        justify-content: space-between; /* any extra space between items */
        gap: 1em; /* what is the gap between your items */
        /* flex-wrap: wrap*/
    }
    .columns {
        display:flex;
    }

    .one {
        flex: 1;
    }
    .two {
        flex: 2;
    }
    .three {
        flex: 3;
    }
    .four {
        flex: 4;
    }

    nav ul {
        display:flex;
    }

    nav li {
        background: transparent;
        flex:1;
    }

    nav a {
        color: darkblue;
        border-bottom: 1px solid transparent;
    }

    #main-nav a:hover {
        border-bottom: 1px pink;
    }
}