/* Main Content Background */
body {
    margin: 0;
    background: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Black Navigtion Bar */
.very-top-nav {
    display:none;
}

.very-top-nav a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.very-top-nav li {
    padding-right:5px;
    list-style-type: none;
}

.very-top-nav a {
    padding:5px;
}

.very-top-nav li:not(:last-child)::after {
    content:" |";
    color: white;    
}

/* Black Title Bar */
#small-uof {
    color: white;
    font-size: small;
}

#large-sc {
    color: white;
    font-size: medium;
}

 #s-of-med {
    color: white;
    text-align: right;
    margin-right:2%;
}

/* Garnet Navigation Bar */
#garnet-nav-bar {
    background-color: #7a0b0d;
    height: 60px;
    width: 100%;
    display: flex; /*puts items in a row*/
    align-items: center;
}

#garnet-bar {
    width: 100%;
    display: flex;
    justify-content: right;
}

#garnet-links {
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
    margin-right: 3%;
    padding: 0; 
}

#garnet-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 0.8px;
    font-size: 15px;
}

/* Large Pictures */
.main-pics {
    max-width:100%;
}

/* USC Picture */
#usc-sml-pic {
    display: flex;
    margin-left: 5px;
    position: relative;
}

#move-right {
    display: flex;
    justify-content: space-between;
    margin-left: 5%;
}

/* Description Text Under Pictures */
#first-pic-desc {
    color: black;
    text-align: center;
}

/* Description Box Under Pictures */
.pic-desc-box {
    display: flex;
    justify-content: center;
    background: white;
}

/* Garnet Description Box */
.edu-box {
    background: #7a0b0d;
    color: white;
    padding: 15px;
    position: absolute;
    top: 150%;
    right: 5%;
}

/* Garnet Box Header */
.edu-box h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
}

/* Garnet Box Paragraph */
.edu-box p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 40px;
}

/* Garnet Box Button */
.edu-btn {
    display: inline-block;
    background: black;
    color: white;
    padding: 16px 28px;
    text-decoration: none;
    font-weight: bold;
    border: 2px solid white;
}

/* Professional Section */
#prof-section {
    display: flex;
    background: white;
    padding-top: 40px;
}

#prof-pic-quote {
    color: #7a0b0d;
    text-align: center;
    margin-top: 10%;
    margin-left: 20%;
}

#profile-pic {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: 40px;
    margin-bottom: 3%;
}

/* Second Garnet Box */
.edu-box-2 {
    background: #7a0b0d;
    color: white;
    padding: 15px;
    position: absolute;
    top: 270%;
    left: 5%;
}

.edu-box-2 h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
}

.edu-box-2 p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 40px;
}

/* Three Box Section */
.cards-wrapper {
    background: white;
    padding: 80px 20px;
}

.cards-container {
    max-width: 1200px;
    margin: 0 auto; /* Centers Boxes and Text */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 64px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card-img {
    width: 100%;
    height: 360px;
    object-fit: cover;
    display: block;
}

.card-title {
    margin: 0;
    font-size: 26px;
    font-weight: 700;
}

.card-title a {
    color: #7a0b0d;
    text-decoration: none;
}

/* Third Garnet Box */
.card-text {
    margin: 0;
    color: black;
    font-size: 16px;
    line-height: 1.6;
}

.edu-box-3 {
    background: #7a0b0d;
    color: white;
    padding: 15px;
    position: absolute;
    top: 433%;
    left: 5%;
    
}

.edu-box-3 h2 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 24px;
}

.edu-box-3 p {
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 40px;
}

/* Stay Connected Section */
#stay-con-backg {
    background: rgb(237, 237, 237);
    text-align: center;
    width: 100%;
    padding: 72px 0 48px;
    box-sizing: border-box;
    color: black;
}

.stay-inner {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 24px;
}

/* Stay Connected Title */
#stay-title {
    font-size: 50px;
    line-height: 1;
    margin: 0 0 12px;
    color: #7a0b0d;
}
/* Stay Connected Sub Title */
#stay-sub {
    margin: 0 0 40px;
    font-size: 15px;
    color: black;
}

/* Stay Connected Buttons Row */
.stay-ctas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 48px;
    align-items: center;
    justify-items: center;
    margin: 0 auto 48px;
    max-width: 1000px;
    padding: 0 12px;
}

/* Stay Connecetd Buttons */
.stay-connected-btns {
    display: inline-block;
    min-width: 260px;
    padding: 18px 28px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background: #7a0b0d;           
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 12px;
    border: 4px solid #fff;       
}

/* Stay Connected Footer */
#stay-footer {
    max-width: 1200px;
    margin:  auto 0;
    padding: 36px 24px 24px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 24px;
    align-items: start;
    color: #7a0b0d;
}

/* Logo Pictures */
.social-m-logo {
    position: relative;
    right: 180%;
    padding-top: 2%;
}

.stay-footer-left .footer-brand {
    margin: 0 0 12px;
    font-size: 20px;
    font-weight: 700;
}

/* My SOMC Button Design */
.footer-cta {
    display: inline-block;
    margin-top: 12px;
    padding: 10px 18px;
    background: #000;
    color: #fff;
    text-decoration: none;
    border: 3px solid #fff;
    box-shadow: 0 8px 18px rgba(0,0,0,0.12);
}

/* Contact Us etc. Links */
.stay-footer-links {
    display: flex;
    gap: 10px;
    margin-left: 50%;
    align-items: flex-start;
    justify-content: center;
    color: #7a0b0d;
}

.footer-links-col {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

.footer-links-col li {
    margin: 6px 0;
}

/* Link Decoration */
.footer-links-col a {
    color: #7a0b0d;
    text-decoration: none;
    font-weight: 700;
}
  
/* Divider between link groups (did not work)*/
.footer-divider {
    width: 1px;
    background: #bfbfbf;
    height: 120px;
    align-self: center;
}
  
/* Right Column (address) */
.stay-footer-right {
    text-align: left;
    border-left: 1px solid #cacaca;
    padding-left: 18px;
}

.footer-address {
    color: #7a0b0d;
    text-decoration: none;
    font-weight: 600;
    line-height: 1.5;
}

#u-of-sc-footer {
    background: #7a0b0d;
}

#footer-heading-1 {
  color: white;
  font-size: 16px;
  margin: 0 0 12px 0;
  padding-bottom: 10px;
  border-bottom: 2px solid white /* thin faded line */
}

#footer-heading-2 {
    color: white;
    font-size: 16px;
    margin: 0 0 12px 0;
    padding-bottom: 10px;
    border-bottom: 2px solid white;
}

#footer-heading-3 {
    color: white;
}

#footer-heading-4 {
    color: white;
}

#copyright {
    color: white;
}

.footer-list {
    list-style: none;
    margin: 12px 0 0 0;
    padding: 0;
}

.footer-list li {
    margin: 10px 0;
}

.footer-list a {
    color: white;
    text-decoration: none;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
}
  
.footer-col {
    padding: 6px 12px;
    box-sizing: border-box;
}

.footer-legal {
    display: flex;
    background: black;
}

.legal-links a li:not(:last-child)::after {
    content:" |";
    color: white;    
}

.footer-legal a {
    text-decoration: none;
    color: white;
    text-align: left;
    
}

/* small screen */
@media (min-width: 820px) {
   .columns {
    display:flex;
   }

   #main-header {
    position:relative;
   }
   
   .very-top-nav {
        display:block;
    }

    .very-top-nav ul {
        display:flex;
    }
  }

